<div class="list-group">
  <a
    [routerLink]="'/store'"
    class="list-group-item list-group-item-action"
    href=""
  >
    <img
      class="cat-image mx-2"
      [src]="'https://i.insider.com/5ed95c393f7370198527eea3?width=700'"
      alt=""
    />
    <span class="fs-6"> All Products</span>
  </a>

  <a
    href=""
    [routerLink]="['/store', cat.categoryId, cat.title]"
    *ngFor="let cat of categories"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    <span class="fs-6">
      <img class="cat-image mx-2" [src]="cat.coverImage" alt="" />
      {{ cat.title }}</span
    >
  </a>
</div>
